:root{
  --bg:#F1EEDC;
  --card:#E5DDC5;
  --muted:#6b7280;
  --accent:#69561c;
}

@font-face {
  font-family: "Dream";
  src: url("src/font/Dream MMA.ttf") format("truetype");
}

*{box-sizing:border-box}

body{
  font-family:Inter,ui-sans-serif,system-ui,Arial,sans-serif;
  background:var(--bg);
  margin:0;
  color:#0f172a
}

.app{
  max-width:1000px;
  margin:30px auto;
  padding:20px
}

/* ---------- HEADER ---------- */

.header{
  text-align:center;
  margin-bottom:20px
}

.header h1{
  margin:0;
  font-family:"Dream",sans-serif;
  font-size:60px;
  letter-spacing:-0.02em;
  background:linear-gradient(90deg,#87b5ce 0%,#14376c 50%);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  -webkit-text-fill-color:transparent
}

.subtitle{
  margin:6px 0;
  color:var(--muted)
}

.session{
  margin-top:8px;
  font-weight:600
}

/* ---------- LAYOUT ---------- */

.container{
  display:grid;
  gap:20px
}

.card{
  background:var(--card);
  padding:18px;
  border-radius:10px;
  box-shadow:5px 5px 3px rgba(24,18,6,0.3)
}

/* ---------- TABLE ---------- */
table{
  width:100%;
  border-collapse:collapse;
  margin-top:10px;
  font-size:13px;
}

th{
  text-align:center;
  padding:6px;
  color:var(--muted);
  font-size:12px;
}

td{
  text-align:center;
  padding:6px;
  border-top:1px solid rgba(0,0,0,0.08);
}

tbody{
  display:block;
  max-height:260px;
  overflow-y:auto;
}

thead, tbody tr{
  display:table;
  width:100%;
  table-layout:fixed;
}

tr:hover{
  background:rgba(0,0,0,0.05)
}

/* ---------- SUMMARY ---------- */

.summary-grid{
  display:flex;
  gap:16px;
  flex-wrap:wrap
}

.stat{
  flex:1 1 160px
}

.stat .label{
  font-size:13px;
  opacity:.7
}

.stat .value{
  font-size:20px;
  font-weight:600
}

.chart-box{
  background:white;
  padding:10px;
  border-radius:8px;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width:880px){
  .app{
    padding:14px
  }
}